.store {
    display: grid;
    grid-template-columns: 3fr 2fr; 
    gap: 20px;
    margin: 50px 80px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

}

@media (max-width: 1300px) {
    
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 990px) {
    .store {
        grid-template-columns: 2fr 1fr;
        margin: 50px 20px;
    }
    .products-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 900px) {
    .store {
        grid-template-columns: 1fr 1fr;
        margin: 80px 10px;
    }
    .products-container {
        grid-template-columns: 1fr;
    }
}